@import "tailwindcss";

:root {
  --font-inter: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-playfair: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-inter);
}

h1, h2 {
  font-family: var(--font-playfair);
}
